<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite1" verbose="1">
   <test name="Login">
        <classes>
            <class name="com.saucedemo.testcases.LoginTest"/>
        </classes>
    </test>
    <test name="Logout">
        <classes>
            <class name="com.saucedemo.testcases.LogoutTest"/>
        </classes>
    </test>
    <test name="Products">
        <classes>
            <class name="com.saucedemo.testcases.ProductsTest"/>

        </classes>
    </test>
    <test name="Cart">
        <classes>
            <class name="com.saucedemo.testcases.CartTest"/>

        </classes>
    </test>
    <test name="RemoveFromCart">
        <classes>
            <class name="com.saucedemo.testcases.RemoveFromCartTest"/>

        </classes>
    </test>
    <test name="Filte">
        <classes>
            <class name="com.saucedemo.testcases.FilterTest"/>

        </classes>
    </test>
</suite>